body {
	position: absolute;
	margin: 0px;
    padding: 0px;
	height: 100%;
    width: 100%;
    overflow: hidden;   
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.cacheVideo {
	position: absolute;
	z-index: -99;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: rgba(0,0,0,0.4);
	-webkit-animation: cache_arrives 2s;
	animation: cache_arrives 2s;
}

@-webkit-keyframes cache_arrives {
	0% {opacity: 0}
	100% {opacity: 1;}
}

@keyframes cache_arrives {
	0% {opacity: 0;}
	100% {opacity: 1;}
}



video {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -100;
}

#textIntro {
	display: none;
}

.textIntro {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -185px 0 0 -315px;
	width: 44%;
	/*margin: auto;*/
	text-align: center;
	-webkit-animation: arrives 3s;
	animation: arrives 3s;
}

@-webkit-keyframes arrives {
	0% {opacity: 0}
	100% {opacity: 1;}
}

@keyframes arrives {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.textIntro img {
	width: 250px;
}

.textIntro p {
	margin-top: 20px;
	color: white;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
}

#buttonStart {
	margin-top: 45px;
}

#buttonStart a {
	border: 2px solid white;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#buttonStart a:hover {
	color:rgba(0,0,0,0.7);
	background-color: white;
	opacity: .7;
}


.on {
	background: url(../img/volume_on.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 35px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	margin: 10px;
}

.off {
	background: url(../img/volume_off.png) no-repeat;
	position: absolute;
	top: 0;
	height: 35px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
}







