#progressContent {
	width: 60%;
	height: 30px;
	margin: auto;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	right: 0;
	left: 0;
	bottom: 5px;
}

#progressBar {
	width:60%;
	height:20px;
	border:1px solid rgba(255,255,255,0.4);
	position:absolute;
	bottom:4px;
	left:20%;
	z-index:800;
}

#progressBar .progress {
	height:20px;
	background-color: rgba(255,255,255,0.4);
	display:inline-block;
	position:absolute;
	z-index:7;
}


.positionAction {
	position: absolute;
	z-index: 10;
	bottom: 7px;
	width: 5px;
	height: 5px;
	background-color: white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dot_content {
	display:none;
}

.positionAction:hover {
	background-color: red;
}



#timeProgress {
	position: absolute;
	right: 50px;
	bottom: 8px;
	color: white;
}

#action {
	width: 68px;
	height: 30px;
}


#playPause {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 30px;	
}

.play {
	background: url(../img/play.png) no-repeat;
}

.pause {
	background: url(../img/pause.png) no-repeat;
}

#playerOnOff {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 80px;
	top: 5px;
}

.playerOn {
	background: url(../img/playerOn.png) no-repeat;
}

.playerOff {
	background: url(../img/playerOff.png) no-repeat;
}





